.april1 {
  position: relative;
}
.month4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.s8 {
  color: var(--color-red-200);
}
.m4,
.s8 {
  position: relative;
  display: inline-block;
  width: 30px;
  flex-shrink: 0;
}
.day-label-frame,
.day-label4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.day-label4 {
  width: 352px;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.day-label-frame {
  flex-direction: column;
  text-align: center;
  font-size: var(--font-size-base);
}
.cell155,
.div148 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.div148 {
  position: absolute;
  top: 186px;
  left: 0;
  background-color: var(--color-white);
  width: 395px;
  height: 501px;
  overflow: hidden;
  padding: var(--padding-3xl) var(--padding-xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-9xl);
  font-family: var(--font-roboto);
}
.cell155 {
  border: 1px solid var(--stroke);
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  padding: var(--padding-xl);
  align-items: center;
  justify-content: center;
  color: var(--color-gray-500);
}
.div150 {
  position: relative;
  opacity: 0.7;
}
.cell156 {
  display: flex;
  align-items: center;
  color: var(--color-darkslategray);
}
.cell156,
.cell157 {
  border: 1px solid var(--stroke);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xl);
  justify-content: center;
  margin-left: -1px;
}
.cell157,
.cell161,
.row22 {
  display: flex;
  align-items: center;
}
.cell161 {
  border: 1px solid var(--stroke);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xl);
  justify-content: center;
  margin-left: -1px;
  color: var(--color-black);
}
.row22 {
  position: absolute;
  top: 317px;
  left: 20px;
  width: 359px;
  height: 40px;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--color-gray-200);
}
.cell162 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--stroke);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xl);
  justify-content: center;
  color: var(--color-red-300);
}
.cell162,
.cell169,
.row23 {
  display: flex;
  align-items: center;
}
.row23 {
  position: absolute;
  top: 367px;
  left: 20px;
  width: 344px;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
}
.cell169 {
  border: 1px solid var(--stroke);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xl);
  justify-content: center;
  color: var(--color-red-100);
}
.row24 {
  position: absolute;
  top: 427px;
  left: 20px;
  width: 344px;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
}
.cell183,
.row24,
.row25 {
  display: flex;
  align-items: center;
}
.row25 {
  position: absolute;
  top: 487px;
  left: 20px;
  width: 344px;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
}
.cell183 {
  border: 1px solid var(--stroke);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xl);
  justify-content: center;
  color: var(--color-red-300);
}
.row26 {
  position: absolute;
  top: 547px;
  left: 20px;
  width: 344px;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
}
.cell196,
.row26,
.row27 {
  display: flex;
  align-items: center;
}
.cell196 {
  border: 1px solid var(--stroke);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xl);
  justify-content: center;
  margin-left: -1px;
  color: var(--color-darkgray-100);
}
.row27 {
  position: absolute;
  top: 607px;
  left: 20px;
  width: 344px;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--color-gray-200);
}
.doc1-page-0001-3-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 394px;
  height: 105px;
  object-fit: cover;
}
.wecalendar13 {
  position: absolute;
  top: 0;
  left: -4.17%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.1);
  mix-blend-mode: normal;
}
.wecalendar12 {
  position: absolute;
  top: 98px;
  left: 52px;
  width: 288px;
  height: 88px;
  font-size: var(--font-size-36xl);
  color: var(--color-midnightblue-100);
  font-family: var(--font-atma);
}
.image-2-icon7 {
  position: absolute;
  top: 9px;
  left: 7px;
  width: 53px;
  height: 43px;
  object-fit: cover;
}
.april-2-inner {
  position: absolute;
  top: 9px;
  left: 285px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 94px;
  height: 32px;
  cursor: pointer;
}
.menu-icon5,
.menu7 {
  position: absolute;
  top: 13px;
}
.menu7 {
  left: 325px;
  font-size: var(--font-size-base);
  font-weight: 900;
  color: var(--color-purple);
  text-align: left;
  display: flex;
  align-items: flex-end;
  width: 54px;
  height: 21px;
}
.menu-icon5 {
  left: 295px;
  width: 20px;
  height: 23px;
  object-fit: cover;
}
.april-21 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
