.march2 {
  position: relative;
}
.month3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.s6 {
  color: var(--color-red-200);
}
.m3,
.s6 {
  position: relative;
  display: inline-block;
  width: 30px;
  flex-shrink: 0;
}
.cell112,
.day-label3 {
  box-sizing: border-box;
  display: flex;
}
.day-label3 {
  width: 352px;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
  font-family: var(--font-roboto);
}
.cell112 {
  border: 1px solid var(--stroke);
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xl);
  align-items: center;
  justify-content: center;
  color: var(--color-gray-500);
}
.div107 {
  position: relative;
  opacity: 0.7;
}
.cell113,
.cell114 {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.cell113 {
  border: 1px solid var(--stroke);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  flex-direction: column;
  padding: var(--padding-xl);
  justify-content: center;
  margin-left: -1px;
  color: var(--color-darkslategray);
}
.cell114 {
  color: var(--color-gray-200);
}
.cell114,
.cell115 {
  border: 1px solid var(--stroke);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  flex-direction: column;
  padding: var(--padding-xl);
  justify-content: center;
  margin-left: -1px;
}
.cell115,
.cell119,
.row16 {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.row16 {
  width: 359px;
  height: 40px;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
}
.cell119 {
  background-color: var(--color-white);
  border: 1px solid var(--stroke);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  flex-direction: column;
  padding: var(--padding-xl);
  justify-content: center;
  color: var(--color-red-300);
}
.div113 {
  position: relative;
  font-weight: 800;
}
.cell120,
.row17 {
  display: flex;
  align-items: center;
}
.cell120 {
  background-color: var(--color-plum);
  border: 1px solid var(--stroke);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xl);
  justify-content: center;
  margin-left: -1px;
  font-size: var(--font-size-base);
  color: var(--color-midnightblue-200);
}
.row17 {
  width: 344px;
  flex-direction: row;
  justify-content: flex-start;
}
.cell126 {
  border: 1px solid var(--stroke);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xl);
  justify-content: center;
  color: var(--color-red-100);
}
.cell126,
.cell140,
.cell146,
.row18 {
  display: flex;
  align-items: center;
}
.row18 {
  width: 344px;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
}
.cell140,
.cell146 {
  border: 1px solid var(--stroke);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-xl);
  justify-content: center;
  color: var(--color-red-300);
}
.cell146 {
  margin-left: -1px;
  color: var(--color-darkgray-100);
}
.day-label-container,
.div105 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.day-label-container {
  height: 531px;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.div105 {
  position: absolute;
  top: 186px;
  left: 0;
  background-color: var(--color-white);
  height: 421px;
  overflow: hidden;
  padding: var(--padding-3xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
}
.doc1-page-0001-3-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 394px;
  height: 105px;
  object-fit: cover;
}
.wecalendar11 {
  position: absolute;
  top: 0;
  left: -4.17%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.1);
  mix-blend-mode: normal;
}
.wecalendar10 {
  position: absolute;
  top: 98px;
  left: 54px;
  width: 288px;
  height: 88px;
  font-size: var(--font-size-36xl);
  color: var(--color-midnightblue-100);
  font-family: var(--font-atma);
}
.image-2-icon6 {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 53px;
  height: 43px;
  object-fit: cover;
}
.march-6th-child,
.march-6th-item {
  position: absolute;
  top: 637px;
  left: 22px;
  border-radius: var(--br-15xl);
  width: 350px;
  height: 49px;
  cursor: pointer;
}
.march-6th-item {
  top: 695px;
}
.pm-onwards3,
.pm-onwards4 {
  position: absolute;
  top: 666px;
  left: 222px;
}
.pm-onwards4 {
  top: 724px;
}
.women-techies1 {
  top: 637px;
  left: 2px;
  font-size: var(--font-size-lg);
  color: var(--color-snow-100);
  width: 244px;
  height: 27px;
}
.anna-auditorium1,
.dance-club-session,
.foodys,
.women-techies1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dance-club-session {
  top: 695px;
  left: 2px;
  font-size: var(--font-size-lg);
  color: var(--color-snow-100);
  width: 280px;
  height: 27px;
}
.anna-auditorium1,
.foodys {
  top: 665px;
  left: 63px;
  width: 105px;
  height: 14px;
}
.foodys {
  top: 723px;
  left: 53px;
  width: 70px;
}
.vector-icon4,
.vector-icon5 {
  position: absolute;
  height: 2.01%;
  width: 3.08%;
  top: 78.55%;
  right: 85.38%;
  bottom: 19.43%;
  left: 11.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon5 {
  top: 85.43%;
  bottom: 12.56%;
}
.clock-icon3,
.clock-icon4 {
  position: absolute;
  top: 663px;
  left: 196px;
  width: 21px;
  height: 19px;
  object-fit: cover;
}
.clock-icon4 {
  top: 721px;
}
.march-6th-inner {
  position: absolute;
  top: 13px;
  left: 287px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 94px;
  height: 32px;
  cursor: pointer;
}
.menu-icon4,
.menu6 {
  position: absolute;
  top: 17px;
}
.menu6 {
  left: 327px;
  font-size: var(--font-size-base);
  font-weight: 900;
  font-family: var(--font-inter);
  color: var(--color-purple);
  text-align: left;
  display: flex;
  align-items: flex-end;
  width: 54px;
  height: 21px;
}
.menu-icon4 {
  left: 297px;
  width: 20px;
  height: 23px;
  object-fit: cover;
}
.march-6th {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
